<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>
    <h1 >About Me</h1>
    <p>My name is AnZ. I am a student at the SMKN1 Bandar Lampung. I am currently learning Flask.</p>
    <p>Flask is a web framework written in Python. It is lightweight and easy to use. I am excited to learn more about Flask and build my own web applications.</p>
    <p>Thank you for visiting my website!</p>
</body>
</html>